body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: var(--font-ui);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

main {
    height: 100%;
}

textarea {
    font-family: var(--font-monospaced);
    font-size: 1em;
    margin: 30px auto 10px auto;
    width: calc(50% - 50px);
    border-radius: 10px;
    padding: 15px;
    resize: none;
    background-color: var(--textarea-color);
    color: var(--textarea-text);
}

textarea:focus {
    outline: var(--outline-color) solid 1px;
}

textarea::placeholder {
    color: var(--disabled-text);
}

.left {
    margin-left: 10px;
}

.right {
    margin-left: 10px;
}

.output {
    width: calc(100% - 150px);
    margin: 30px auto;
    display: block;
    background-color: var(--disabled-color);
    color: var(--disabled-text);
    border-radius: 10px;
    padding: 15px;
    font-family: var(--font-monospaced);
    font-size: 1em;
    resize: none;
}

.generate {
    font-family: var(--font-ui);
    font-size: 1em;
    margin: auto;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--accent-text);
    outline: none;
    border: none;
    cursor: pointer;
}
